body {
    background: url(./imagenes/background.png);
}

#container{
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    width: 65%;
    margin-left: 230px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.relleno {
    width: 90%;
}


#container .GridView1{
    margin-top: 20px;
    margin-left: 80px;
    margin-bottom: 20px;
}

    #container .GridView2 {
        margin-top: 20px;
        margin-left: 80px;
        margin-bottom: 20px;
    }




    

